<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424204830215-76ma86qb2teg5cvvu15ar971u20ljm51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424204830215-76ma86qb2teg5cvvu15ar971u20ljm51</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVK-457RVbcxQCoO85O51KBBLDhF284Y</string>
	<key>GCM_SENDER_ID</key>
	<string>424204830215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.f1setup.app</string>
	<key>PROJECT_ID</key>
	<string>f1-setup</string>
	<key>STORAGE_BUCKET</key>
	<string>f1-setup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424204830215:ios:6822edab05265894328ca2</string>
</dict>
</plist>